html {
    scroll-behavior: smooth;
}

body {
    background: cadetblue;
}

#old {
    height: 100%;
    text-align: center;
    padding-top: 2%;
    align-items: center;
    display: flex;
}

.bg-img {
    background-image: url('/static/background.jpg');
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed
}

#form_div {
    margin-bottom: 20px;
}

#event_search {
    text-align: center;
    color: white !important;
}

#h2_div {
    border: 0.2px solid #e7e2e2;
    height: inherit;
}

.formItem {
    margin-bottom: 5px;
    width: -webkit-fill-available;
}

.formlabelColr {
    color: #3e9cc1;
    font-size: 12px;

}

.asterisk {
    color: red;
}

#loc_asterisk {
    color: red;
    margin-right: 10px;
}

#keyword {
    width: inherit;
}

#distance_category {
    margin-bottom: 5px;
    display: flex;
}

#distance_div {
    margin-right: 30px;
    width: 40%;
}

#distance {
    width: 100%;
    border-radius: 5px;
}

#category_div {
    width: 55%;
}

#location_div {
    margin-bottom: 5px;
}

#checkbox {
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
}

#location {
    border-radius: 5px;
    width: inherit;
}

#clear_btn_div {
    display: none;
    width: 100%;
    overflow: hidden;
    padding-bottom: 25px;
}

#child_clear_div {
    width: 100%;
}

#table_content {
    width: 1000px
}

#no_record {
    display: none;
    width: 90%;
    border: 1px solid gray;
    background-color: white;
    height: 25px;
    padding: 3px;
}

#span_no_record {
    color: red;
    font-size: 15px;
}

#parent_EventDetail {
    display: none;
    width: 850px;
    margin-top: 15px;
    margin-right: 45px;
}


#child_EventDetail_1 {
    background-color: rgb(64 68 78);
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 20px;
}

#eventNameDiv {
    padding: 20px;
    text-align: center;
}

#event_flex_div {
    width: 100%;
    display: inline-flex;
}

#child_EventDetail {
    width: 50%;
    text-align: start;
    height: 90%;
    padding-left: 35px;
    padding-bottom: 25px;
}

#eventImage {
    width: 50%;
    height: 90%;
    margin-right: 30px;
}

#show_VenueDetailBtn {
    padding-bottom: 20px;
}

#venue_detail_span {
    color: white;
    font-size: 18px;
}

#scroll_arrow {
    rotate: 45;
    display: inline-table;
    width: 15px;
    transform: rotate(312deg);
}

#arrow1_div {
    height: 30px;
    width: 0px;
    border-left: 0.5px solid white;
}

#arrow2_div {
    height: 0px;
    width: 30px;
    border-bottom: 0.5 solid;
    border-bottom: 0.5px solid white;
}

#showVenueDetailRender {
    height: 10px;
}

#old_ShowVenueDetail {
    height: 100%;
    width: 850px;
    margin-right: 40px;
    display: none;
    background-color: white;
    border-radius: 20px;
}

#child_ShowVenueDetail {
    width: 100%;
    height: 100%;
}

#venueHeader {
    width: 100%;
    height: 20%;
    margin-bottom: 15px;
}

#venue_div1 {
    padding-bottom: 5px;
    text-align: center;
}

#h1_div {
    border: 0.5px solid black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#venue_DetailImg {
    display: none;
    margin-top: 20px;
}

#venue_otherDetail {
    width: 100%;
    height: 80%;
    display: inline-flex;
}

#venue_Address_Link {
    width: 40%;
    height: 100%;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
}

#venue_Address {
    display: inline-flex;
    width: fit-content;
    height: 40%;
    margin-top: 70px;
    margin-bottom: -50px;
}

#address {
    margin-right: 15px;
}

#address_div {
    display: inline-grid;
}

#venue_Link {
    width: 80%;
    height: 70%;
}

#underline {
    border: 0.5px solid black;
    height: 57%;
    margin-top: 65px;
}

#otherEvent_Venue {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    margin-top: 60px;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    padding: 5px;
    text-align: center;
    background-color: white;
    font-size: smaller;
}

th {
    height: 30px;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: bold;
}

.header{
    box-shadow: 0px 3px 8px rgb(0, 0, 0);
}

.heading:hover {
    cursor: pointer;

}

.loader {
    border: 14px solid #f3f3f3;
    border-radius: 50%;
    border-top: 14px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





.form {
    margin-right: 20%;
    margin-left: 20%;
    text-align: initial;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-bottom: 50px;
    width: 550px;
    backdrop-filter: blur(6px);

}

._eventName:hover {
    color: blue;
    cursor: pointer;
}

select {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    border: 1px solid white;
    color: white;
    padding: 3px;
}


input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

option {
    color: rgb(74, 70, 70);
    background-color: transparent;
}



#search {
    background-color: rgb(255 128 0);
    box-shadow: 0px 4px 0px rgb(232, 109, 64);
    margin-right: 2px;
}

#search:hover {
    background-color: rgb(255, 176, 116);
}

#clear {
    background-color: rgb(53, 115, 197);
    box-shadow: 0px 4px 0px rgb(52, 95, 197);
}

#clear:hover {
    background-color: rgb(89, 136, 229);
}

.btn {
    color: white;
    padding: 5px 8px;
    border: 0.2px solid transparent;
    margin-bottom: 5px;
    border-radius: 5px;

}


#event_search {
    font-weight: lighter;
    font-size: 30px;
    color: white;
}



.buttons {
    margin-top: 20px;
}



.eventDetailColr {
    color: white;
    font-size: 13px;
}

#parent {

    width: 1050px;
    margin-left: 15%;
    margin-right: 15%;

}

#eventName {
    font-family: serif;
    font-size: 25px;
    font-weight: 100;
}

#ticketmaster_link:hover {
    color: blue !important;
}


.eventDetailHeader {
    color: rgb(157 255 246);
    font-size: 15px;
    font-family: sans-serif;
}

.eventDateStatus {
    border-radius: 6px;

}

#parent_ShowVenueDetail {
    width: 96%;
    height: 91%;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 2%;
    margin-top: 2%;
}

#_VenueMapUrl {
    text-decoration: none;
    color: rgb(30 117 131);
}

#_VenueMoreEvent {
    text-decoration: none;
    color: rgb(30 117 131);
}

